*{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
    font-family: 'Poppins', sans-serif;
}


.Nav {
    color: blue;
    background-color: #093A3E;
    min-height: 15vh;
    width: 100vw;
  }
  .login {
    display: flex;
    flex-direction: column;
  }
  button {
    max-width: 10vh;
  }
  [alt="nflogo"] {
    max-height: 10vh;
    padding-left: 40%;
    padding-top: 2vh;
  }
  .containerNav {
    float: right;
  
  }
  .navbar-right {
    list-style: none;
    padding: 10px;
    margin-right: 15vw;
    text-decoration: none;
  }
  .menuItem {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    list-style: none;
    color: antiquewhite;
  }
  .menuItem:hover {
    color: midnightblue;
  }