.Nav {
  color: blue;
  background-color: crimson;
  min-height: 8vh;
}

.login {
  display: flex;
  flex-direction: column;
}

button {
  max-width: 10vh;
}

[alt="nflogo"] {
  max-height: 10vh;
  padding-left: 40%;
  padding-top: 2vh;
}
